openapi: 3.0.3
info:
  title: POIS ESAM Server API
  description: |
    Placement Opportunity Information Service (POIS) and ESAM (Event Signaling and Management) server.
    
    A Rust-based middleware server for processing SCTE-35 signals in broadcast television ad insertion workflows.
    Provides rule-based signal processing, multi-tenancy support, JWT authentication, and comprehensive event monitoring.
    
    **Features:**
    - ESAM/SCTE-35 XML signal processing
    - Multi-channel management with independent rule sets
    - Rule-based transformations (match, modify, replace, delete)
    - JWT authentication with API token support
    - SCTE-35 toolkit (builder, decoder, validator, tester)
    - Event logging and monitoring
    - Backup/restore functionality
    - Multi-tenant Groups + RBAC: resources are owned and shared to groups; rules and events inherit their channel's groups
    - Projects and reusable rule/channel templates
    - Self-service and forced first-login password change

    **Authentication:**
    Most endpoints require Bearer token authentication via JWT. Use `POST /api/auth/login` to obtain a token.
    The ESAM processing endpoints (`/esam`) do not require authentication.

    **Access model (RBAC):** a super-admin (`role: admin`) bypasses all group checks.
    Otherwise: READ a resource if you own it, it is global, or it is shared to a group
    you are a member of; WRITE (edit/delete/share) if you own it or are a group-admin
    (`group_members.role: admin`) of a group it is shared to.

    **Forced password change:** an account flagged `must_change_password` is blocked
    (403) from every endpoint except `POST /api/auth/change-password` until it sets a
    new password. API tokens are exempt.
  version: 3.12.10
  contact:
    name: Bo Kelleher
    url: https://github.com/bokelleher/rust-pois
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://txcue.techexlab.com
    description: Production (public)
  - url: http://localhost:8080
    description: Development server

tags:
  - name: Authentication
    description: JWT authentication, current user, password change
  - name: Users
    description: User account management (super-admin, or group-admin within their groups)
  - name: Groups
    description: Groups and membership (RBAC multi-tenancy)
  - name: Sharing
    description: Share channels, projects, and templates to specific groups
  - name: Channels
    description: Channel management for multi-tenancy
  - name: Rules
    description: Signal processing rules
  - name: Projects & Templates
    description: Reusable rule/channel templates and project bundles
  - name: Events
    description: Signal processing event logs
  - name: ESAM
    description: ESAM signal processing endpoints
  - name: SCTE-35 Tools
    description: SCTE-35 signal builder, decoder, validator, and tester
  - name: Backup
    description: Backup and restore functionality
  - name: System
    description: Health checks and system status

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /api/auth/login

  schemas:
    # Authentication schemas
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          example: admin
        password:
          type: string
          format: password
          example: admin123

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT token for authentication
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        role:
          type: string
          enum: [admin, user]
        enabled:
          type: boolean
        email:
          type: string
          format: email
          nullable: true
        created_at:
          type: string
          format: date-time
        last_login:
          type: string
          format: date-time
          nullable: true
        must_change_password:
          type: boolean
          description: True while the account must set its own password before using the app.
        groups:
          type: array
          description: The user's group memberships (returned by login and /api/auth/me).
          items:
            $ref: '#/components/schemas/GroupBrief'

    CreateUserRequest:
      type: object
      required: [username, password, role]
      properties:
        username:
          type: string
        password:
          type: string
          format: password
        role:
          type: string
          enum: [admin, user]
          description: Group-admins may only create `user`; the role is forced to `user` for them.
        email:
          type: string
          format: email
        group_id:
          type: integer
          format: int64
          description: Group to add the new user to (required for a group-admin who administers more than one group).

    UpdateUserRequest:
      type: object
      properties:
        password:
          type: string
          format: password
        role:
          type: string
          enum: [admin, user]
        enabled:
          type: boolean
        email:
          type: string
          format: email

    ChangePasswordRequest:
      type: object
      required: [current_password, new_password]
      properties:
        current_password:
          type: string
          format: password
        new_password:
          type: string
          format: password

    CreateTokenRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: Descriptive name for the API token
        expires_in_days:
          type: integer
          format: int64
          description: Number of days until expiration (null for never)
          nullable: true

    CreateTokenResponse:
      type: object
      properties:
        token:
          type: string
          description: The actual token string (only shown once)
        token_info:
          $ref: '#/components/schemas/ApiToken'

    ApiToken:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        user_id:
          type: integer
          format: int64
        expires_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        last_used:
          type: string
          format: date-time
          nullable: true
        revoked:
          type: boolean

    # Channel schemas
    Channel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        enabled:
          type: integer
          description: 0 or 1.
        owner_user_id:
          type: integer
          format: int64
          nullable: true
        is_global:
          type: integer
          description: 0 or 1. When 1, visible to all groups (super-admin only).
        timezone:
          type: string
          default: UTC
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateChannelRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: Unique channel name (channel names are globally unique).
        enabled:
          type: boolean
          default: true
        timezone:
          type: string
          default: UTC
        group_ids:
          type: array
          description: Groups to publish the channel to. For non-super users these must be groups they belong to; defaults to the caller's sole group.
          items:
            type: integer
            format: int64
        is_global:
          type: boolean
          description: Visible to all groups (super-admin only).

    UpdateChannelRequest:
      type: object
      properties:
        name:
          type: string
        enabled:
          type: boolean
        timezone:
          type: string
        group_ids:
          type: array
          description: Re-publish to these groups (scoped merge; non-super callers only touch their own groups).
          items:
            type: integer
            format: int64
        is_global:
          type: boolean
          description: Super-admin only.

    # Rule schemas
    Rule:
      type: object
      properties:
        id:
          type: integer
          format: int64
        channel_id:
          type: integer
          format: int64
        name:
          type: string
        match_json:
          type: string
          description: JSON string defining match conditions
        action:
          type: string
          enum: [pass, modify, replace, delete]
        params_json:
          type: string
          description: JSON string with action parameters
        priority:
          type: integer
          format: int64
          description: Higher priority rules execute first
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateRuleRequest:
      type: object
      required: [name, action]
      properties:
        name:
          type: string
        match_json:
          type: string
          description: JSON match conditions
          default: '{"anyOf":[{}]}'
        action:
          type: string
          enum: [pass, modify, replace, delete]
        params_json:
          type: string
          description: JSON action parameters
          default: '{}'
        priority:
          type: integer
          format: int64
          default: 100
        enabled:
          type: boolean
          default: true

    UpdateRuleRequest:
      type: object
      properties:
        name:
          type: string
        match_json:
          type: string
        action:
          type: string
          enum: [pass, modify, replace, delete]
        params_json:
          type: string
        priority:
          type: integer
          format: int64
        enabled:
          type: boolean

    ReorderRulesRequest:
      type: object
      required: [rule_ids]
      properties:
        rule_ids:
          type: array
          items:
            type: integer
            format: int64
          description: Array of rule IDs in desired order

    # Event schemas
    Event:
      type: object
      properties:
        id:
          type: integer
          format: int64
        channel_id:
          type: integer
          format: int64
        channel_name:
          type: string
        timestamp:
          type: string
          format: date-time
        source_ip:
          type: string
        acquisition_signal_id:
          type: string
        scte35_command:
          type: string
        action_taken:
          type: string
          enum: [pass, modify, replace, delete]
        rule_id:
          type: integer
          format: int64
          nullable: true
        rule_name:
          type: string
          nullable: true
        input_xml:
          type: string
        output_xml:
          type: string
          nullable: true

    EventStats:
      type: object
      properties:
        total_events:
          type: integer
          format: int64
        events_by_channel:
          type: object
          additionalProperties:
            type: integer
        events_by_action:
          type: object
          additionalProperties:
            type: integer

    # SCTE-35 Tool schemas
    BuildRequest:
      type: object
      required: [command]
      properties:
        command:
          type: string
          enum: [time_signal, time_signal_immediate, splice_insert_out]
          description: SCTE-35 command type
        duration_seconds:
          type: integer
          format: int32
          description: Duration for splice_insert_out (default 60)
        segmentation_type_id:
          type: string
          description: Optional hex segmentation type ID (e.g., "0x34")
        segmentation_upid_type:
          type: string
          description: Optional UPID type identifier (e.g., "0x03")
        segmentation_upid:
          type: string
          description: Optional UPID value
    BuildResponse:
      type: object
      properties:
        base64:
          type: string
          description: The built SCTE-35 message, base64-encoded.
    DecodeRequest:
      type: object
      required: [base64]
      properties:
        base64:
          type: string
          description: Base64-encoded SCTE-35 signal

    DecodeResponse:
      type: object
      properties:
        valid:
          type: boolean
        error:
          type: string
          nullable: true
        decoded:
          $ref: '#/components/schemas/DecodedScte35'

    DecodedScte35:
      type: object
      properties:
        table_id:
          type: string
        protocol_version:
          type: integer
        encrypted_packet:
          type: boolean
        pts_adjustment:
          type: integer
          format: int64
        command_type:
          type: string
        command_type_id:
          type: integer
        command_info:
          type: object
        descriptors:
          type: array
          items:
            $ref: '#/components/schemas/DescriptorInfo'
        raw_hex:
          type: string

    DescriptorInfo:
      type: object
      properties:
        tag:
          type: integer
        tag_name:
          type: string
        length:
          type: integer
        data:
          type: object

    ValidateRequest:
      type: object
      required: [base64]
      properties:
        base64:
          type: string

    ValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
        error:
          type: string
          nullable: true
        info:
          type: string
          nullable: true

    TestSendRequest:
      type: object
      required: [channel_id, base64]
      properties:
        channel_id:
          type: integer
          format: int64
        base64:
          type: string

    TestSendResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        event_id:
          type: integer
          format: int64
          nullable: true

    # Backup schemas
    ChannelBackup:
      type: object
      properties:
        name:
          type: string
        enabled:
          type: boolean
        timezone:
          type: string

    # Dry run schemas
    DryRunRequest:
      type: object
      required: [channel_id, esam_xml]
      properties:
        channel_id:
          type: integer
          format: int64
        esam_xml:
          type: string
          description: ESAM XML to test

    DryRunResponse:
      type: object
      properties:
        matched_rule_id:
          type: integer
          format: int64
          nullable: true
        matched_rule_name:
          type: string
          nullable: true
        action:
          type: string
        output_xml:
          type: string
          nullable: true

    # Error response
    Error:
      type: object
      properties:
        error:
          type: string

    # ===== Groups / RBAC schemas =====
    GroupBrief:
      type: object
      description: A group + the user's per-group role (used in login/me responses).
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        role:
          type: string
          enum: [admin, member]

    Group:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
          nullable: true
        deleted_at:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UpsertGroup:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string

    UpdateGroupMeta:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    MemberRow:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
        username:
          type: string
        role:
          type: string
          enum: [admin, member]

    AddMember:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: integer
          format: int64
        role:
          type: string
          enum: [admin, member]
          default: member

    MyGroups:
      type: object
      properties:
        super_admin:
          type: boolean
        groups:
          type: array
          items:
            $ref: '#/components/schemas/GroupBrief'

    # ===== Sharing schemas =====
    ShareState:
      type: object
      properties:
        kind:
          type: string
          enum: [channel, project, template]
        id:
          type: integer
          format: int64
        group_ids:
          type: array
          description: All groups the resource is currently shared to.
          items:
            type: integer
            format: int64
        is_global:
          type: boolean
        can_write:
          type: boolean
          description: Whether the caller may change the sharing.

    SetShareRequest:
      type: object
      properties:
        group_ids:
          type: array
          description: Groups (within the caller's reach) the resource should be shared to. A scoped merge preserves shares to groups outside the caller's reach.
          items:
            type: integer
            format: int64
        is_global:
          type: boolean
          description: Org-wide visibility (super-admin only; ignored otherwise).

    # ===== Projects / Templates schemas =====
    Project:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
          nullable: true
        is_global:
          type: integer
          description: 0 or 1.
        owner_user_id:
          type: integer
          format: int64
          nullable: true
        group_ids:
          type: array
          description: Groups the project is shared to (annotated on list/detail responses).
          items:
            type: integer
            format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Template:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        kind:
          type: string
          enum: [rule, channel]
          description: '`rule` (body_json = a RuleBackup) or `channel` (body_json = a channel + its rules).'
        description:
          type: string
          nullable: true
        project_id:
          type: integer
          format: int64
          nullable: true
        body_json:
          type: string
        is_default:
          type: integer
          description: 0 or 1. Featured/starter template.
        is_global:
          type: integer
          description: 0 or 1.
        owner_user_id:
          type: integer
          format: int64
          nullable: true
        group_ids:
          type: array
          items:
            type: integer
            format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UpsertProject:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        group_ids:
          type: array
          items:
            type: integer
            format: int64
        is_global:
          type: boolean
          description: Super-admin only.

    UpdateProjectMeta:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        group_ids:
          type: array
          items:
            type: integer
            format: int64
        is_global:
          type: boolean

    SaveTemplateRequest:
      type: object
      properties:
        name:
          type: string
        project_id:
          type: integer
          format: int64
          description: File the new template under this project (inherits its groups).
        description:
          type: string
        is_default:
          type: boolean
          description: Feature it in the starter gallery (admin defaults are saved global).
        group_ids:
          type: array
          items:
            type: integer
            format: int64

    UpdateTemplateMeta:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        project_id:
          type: integer
          format: int64
          nullable: true
          description: Set to null to unfile (move to the library).
        is_default:
          type: boolean
        group_ids:
          type: array
          items:
            type: integer
            format: int64
        is_global:
          type: boolean
          description: Super-admin only.

    ApplyTemplateRequest:
      type: object
      properties:
        target_channel_id:
          type: integer
          format: int64
          description: For a rule template, the channel to add the rule to.
        name:
          type: string
          description: Override name (a unique suffix is added on channel-name collision).

    ApplyResult:
      type: object
      description: Result of applying a project or template (shape varies by kind).
      additionalProperties: true

paths:
  # ========== Authentication Endpoints ==========
  /api/auth/login:
    post:
      tags: [Authentication]
      summary: Login and obtain JWT token
      description: Authenticate with username/password and receive a JWT token
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/me:
    get:
      tags: [Authentication]
      summary: Get current user information
      description: Retrieve information about the currently authenticated user
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/change-password:
    post:
      tags: [Authentication]
      summary: Change user password
      description: Change the password for the currently authenticated user
      operationId: changePassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Current password incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ========== User Management Endpoints ==========
  /api/users:
    get:
      tags: [Authentication]
      summary: List all users
      description: List all users (admin only)
      operationId: listUsers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '403':
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [Authentication]
      summary: Create new user
      description: Create a new user account (admin only)
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64

    get:
      tags: [Authentication]
      summary: Get user by ID
      description: Get user information by ID (admin only)
      operationId: getUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags: [Authentication]
      summary: Update user
      description: Update user information (admin only)
      operationId: updateUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Authentication]
      summary: Delete user
      description: Delete user account (admin only, cannot delete admin user ID 1)
      operationId: deleteUser
      security:
        - bearerAuth: []
      responses:
        '204':
          description: User deleted
        '403':
          description: Cannot delete admin user or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ========== API Token Management ==========
  /api/tokens:
    get:
      tags: [Authentication]
      summary: List my API tokens
      description: List all API tokens for the current user
      operationId: listMyTokens
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of API tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiToken'

    post:
      tags: [Authentication]
      summary: Create new API token
      description: Create a new long-lived API token
      operationId: createApiToken
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
      responses:
        '201':
          description: Token created (token string only shown once)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTokenResponse'

  /api/tokens/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64

    delete:
      tags: [Authentication]
      summary: Revoke API token
      description: Revoke/delete an API token
      operationId: revokeApiToken
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Token revoked
        '404':
          description: Token not found or not owned by user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ========== Channel Endpoints ==========
  /api/channels:
    get:
      tags: [Channels]
      summary: List all channels
      description: List all channels accessible to the current user
      operationId: listChannels
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of channels
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Channel'

    post:
      tags: [Channels]
      summary: Create new channel
      description: Create a new channel
      operationId: createChannel
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        '201':
          description: Channel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '409':
          description: Channel name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/channels/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64

    put:
      tags: [Channels]
      summary: Update channel
      description: Update channel settings
      operationId: updateChannel
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelRequest'
      responses:
        '200':
          description: Channel updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Channels]
      summary: Delete channel
      description: Delete a channel and all its rules
      operationId: deleteChannel
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Channel deleted
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ========== Rule Endpoints ==========
  /api/channels/{id}/rules:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64

    get:
      tags: [Rules]
      summary: List channel rules
      description: List all rules for a specific channel
      operationId: listRules
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rule'

    post:
      tags: [Rules]
      summary: Create new rule
      description: Create a new rule for a channel
      operationId: createRule
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleRequest'
      responses:
        '201':
          description: Rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'

  /api/rules/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64

    put:
      tags: [Rules]
      summary: Update rule
      description: Update an existing rule
      operationId: updateRule
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRuleRequest'
      responses:
        '200':
          description: Rule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        '404':
          description: Rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Rules]
      summary: Delete rule
      description: Delete a rule
      operationId: deleteRule
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Rule deleted
        '404':
          description: Rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/rules/reorder:
    post:
      tags: [Rules]
      summary: Reorder rules
      description: Reorder rules by providing an array of rule IDs in the desired order
      operationId: reorderRules
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReorderRulesRequest'
      responses:
        '200':
          description: Rules reordered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  # ========== Event Endpoints ==========
  /api/events:
    get:
      tags: [Events]
      summary: Query events
      description: Query processed signal events with optional filters
      operationId: listEvents
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: channel_id
          in: query
          schema:
            type: integer
            format: int64
        - name: action
          in: query
          schema:
            type: string
            enum: [pass, modify, replace, delete]
        - name: since
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'

  /api/events/stats:
    get:
      tags: [Events]
      summary: Get event statistics
      description: Get aggregate statistics about processed events
      operationId: getEventStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Event statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventStats'

  /api/events/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64

    get:
      tags: [Events]
      summary: Get event detail
      description: Get detailed information about a specific event
      operationId: getEventDetail
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Event detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ========== Dry Run Endpoint ==========
  /api/dryrun:
    post:
      tags: [Rules]
      summary: Dry run signal processing
      description: Test how a signal would be processed without creating an event
      operationId: dryRun
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DryRunRequest'
      responses:
        '200':
          description: Dry run result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DryRunResponse'

  # ========== ESAM Endpoints ==========
  /esam:
    post:
      tags: [ESAM]
      summary: Process ESAM signal (default channel)
      description: Process an ESAM SignalProcessingEvent XML request using the default channel
      operationId: handleEsam
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              example: |
                <?xml version="1.0"?>
                <SignalProcessingEvent xmlns="urn:cablelabs:iptvservices:esam:xsd:signal:1">
                  <AcquiredSignal acquisitionSignalID="test-001">
                    <UTCPoint utcPoint="2025-11-05T20:00:00Z"/>
                  </AcquiredSignal>
                </SignalProcessingEvent>
      responses:
        '200':
          description: ESAM response
          content:
            application/xml:
              schema:
                type: string
        '400':
          description: Invalid XML or signal format
          content:
            application/xml:
              schema:
                type: string

  /esam/channel/{channel}:
    parameters:
      - name: channel
        in: path
        required: true
        schema:
          type: string
        description: Channel name

    post:
      tags: [ESAM]
      summary: Process ESAM signal (specific channel)
      description: Process an ESAM SignalProcessingEvent XML request for a specific channel
      operationId: handleEsamWithPath
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
      responses:
        '200':
          description: ESAM response
          content:
            application/xml:
              schema:
                type: string
        '400':
          description: Invalid XML or signal format
          content:
            application/xml:
              schema:
                type: string

  # ========== SCTE-35 Tools Endpoints ==========
  /api/tools/scte35/build:
    post:
      tags: [SCTE-35 Tools]
      summary: Build SCTE-35 signal with optional segmentation descriptors
      description: Build SCTE-35 signals with optional custom segmentation descriptors. Supports both basic signals and advanced signals with segmentation types and UPIDs.
      operationId: buildScte35
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildRequest'
      responses:
        '200':
          description: Base64-encoded SCTE-35 signal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildResponse'

  /api/tools/scte35/decode:
    post:
      tags: [SCTE-35 Tools]
      summary: Decode SCTE-35 signal
      description: Decode and parse a Base64-encoded SCTE-35 signal
      operationId: decodeScte35
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeRequest'
      responses:
        '200':
          description: Decoded SCTE-35 information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodeResponse'

  /api/tools/scte35/validate:
    post:
      tags: [SCTE-35 Tools]
      summary: Validate SCTE-35 signal
      description: Validate a Base64-encoded SCTE-35 signal (CRC-32 check)
      operationId: validateScte35
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateRequest'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateResponse'

  /api/tools/scte35/test-send:
    post:
      tags: [SCTE-35 Tools]
      summary: Test send SCTE-35 signal
      description: Send a test SCTE-35 signal through the channel processing pipeline
      operationId: testSendScte35
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestSendRequest'
      responses:
        '200':
          description: Test send result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSendResponse'

  # ========== Backup Endpoints ==========
  /api/backup/export/channel/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64

    post:
      tags: [Backup]
      summary: Export channel metadata
      description: Export channel configuration (metadata only, no rules)
      operationId: exportChannel
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Channel backup data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelBackup'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ========== System Endpoints ==========
  /healthz:
    get:
      tags: [System]
      summary: Health check
      description: Simple health check endpoint
      operationId: healthCheck
      responses:
        '200':
          description: Server is healthy
          content:
            text/plain:
              schema:
                type: string
                example: ok

  # ========== Groups / RBAC ==========
  /api/me/groups:
    get:
      tags: [Groups]
      summary: The caller's effective identity
      description: Returns whether the caller is a super-admin and the groups they belong to (with per-group role). Used by the UI to gate admin features and group pickers.
      operationId: myGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyGroups'

  /api/groups:
    get:
      tags: [Groups]
      summary: List groups
      description: Super-admins see all groups; other users see only the groups they belong to.
      operationId: listGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
    post:
      tags: [Groups]
      summary: Create a group (super-admin only)
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertGroup'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '403':
          description: Super-admin required

  /api/groups/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Groups]
      summary: Get a group and its members
      description: Visible to a super-admin or a member of the group.
      operationId: getGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  group:
                    $ref: '#/components/schemas/Group'
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/MemberRow'
        '403':
          description: Not a member of this group
    put:
      tags: [Groups]
      summary: Rename / edit a group
      description: Super-admin or a group-admin of this group.
      operationId: updateGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupMeta'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '403':
          description: Group-admin required
    delete:
      tags: [Groups]
      summary: Soft-delete a group (super-admin only)
      operationId: deleteGroup
      responses:
        '200':
          description: Deleted
        '403':
          description: Super-admin required

  /api/groups/{id}/members:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Groups]
      summary: List group members
      operationId: listMembers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MemberRow'
        '403':
          description: Not a member of this group
    post:
      tags: [Groups]
      summary: Add a member or change their role
      description: Super-admin or a group-admin of this group.
      operationId: addMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMember'
      responses:
        '200':
          description: Added/updated
        '403':
          description: Group-admin required

  /api/groups/{id}/members/{user_id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      tags: [Groups]
      summary: Remove a member from a group
      description: Super-admin or a group-admin of this group. Removes membership only; the user account is kept.
      operationId: removeMember
      responses:
        '200':
          description: Removed
        '403':
          description: Group-admin required

  # ========== Sharing ==========
  /api/share/{kind}/{id}:
    parameters:
      - name: kind
        in: path
        required: true
        schema:
          type: string
          enum: [channel, project, template]
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Sharing]
      summary: Get a resource's current sharing
      description: Returns the groups the resource is shared to, its global flag, and whether the caller may change the sharing. Requires read access.
      operationId: getShare
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareState'
        '400':
          description: Unknown share kind
        '403':
          description: Not allowed to view this resource
    put:
      tags: [Sharing]
      summary: Set a resource's sharing
      description: |
        Re-publishes the resource to the given groups (scoped merge: a non-super caller may only
        target groups they belong to, and shares to groups outside their reach are preserved).
        Only super-admins may set `is_global`. Requires write access.
      operationId: setShare
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetShareRequest'
      responses:
        '200':
          description: Updated sharing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareState'
        '403':
          description: Not allowed to change sharing, or targeting a group you don't belong to

  # ========== Projects & Templates ==========
  /api/projects:
    get:
      tags: [Projects & Templates]
      summary: List projects
      description: Returns projects the caller may read; each row is annotated with its `group_ids`.
      operationId: listProjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
    post:
      tags: [Projects & Templates]
      summary: Create a project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertProject'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

  /api/projects/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Projects & Templates]
      summary: Get a project and its templates
      operationId: getProject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    $ref: '#/components/schemas/Project'
                  templates:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
        '403':
          description: Not allowed to view this project
    put:
      tags: [Projects & Templates]
      summary: Update a project
      description: Owner, group-admin of a shared group, or super-admin.
      operationId: updateProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectMeta'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    delete:
      tags: [Projects & Templates]
      summary: Delete a project (its templates are kept, moved to the library)
      operationId: deleteProject
      responses:
        '200':
          description: Deleted

  /api/projects/{id}/apply:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags: [Projects & Templates]
      summary: Apply a project
      description: Instantiates a fresh copy of every channel template in the project (with its rules), owned by the caller and landed in the caller's group(s).
      operationId: applyProject
      responses:
        '200':
          description: Applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyResult'

  /api/templates:
    get:
      tags: [Projects & Templates]
      summary: List templates
      description: Returns templates the caller may read; each row is annotated with its `group_ids`.
      operationId: listTemplates
      parameters:
        - name: project_id
          in: query
          schema:
            type: integer
            format: int64
        - name: kind
          in: query
          schema:
            type: string
            enum: [rule, channel]
        - name: unfiled
          in: query
          description: Only templates not filed under a project.
          schema:
            type: boolean
        - name: default
          in: query
          description: Only featured/default templates.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Template'

  /api/templates/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Projects & Templates]
      summary: Get a template
      operationId: getTemplate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '403':
          description: Not allowed to view this template
    put:
      tags: [Projects & Templates]
      summary: Update template metadata
      operationId: updateTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateMeta'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
    delete:
      tags: [Projects & Templates]
      summary: Delete a template
      operationId: deleteTemplate
      responses:
        '200':
          description: Deleted

  /api/templates/from-rule/{rule_id}:
    parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags: [Projects & Templates]
      summary: Save an existing rule as a reusable template
      operationId: saveRuleTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveTemplateRequest'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'

  /api/templates/from-channel/{channel_id}:
    parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags: [Projects & Templates]
      summary: Save a channel (and its rules) as a reusable template
      operationId: saveChannelTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveTemplateRequest'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'

  /api/templates/{id}/apply:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags: [Projects & Templates]
      summary: Apply a template
      description: Always creates new rows owned by the caller. A `rule` template needs `target_channel_id`; a `channel` template creates a fresh channel (name de-duplicated) in the caller's group(s).
      operationId: applyTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyTemplateRequest'
      responses:
        '200':
          description: Applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyResult'